@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @else if $media == l {
    @media  (min-width: 768px) and (max-width: 1100px){ @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
}


/******   colors  *********/

$blue: #27b8e8;
$default: #404040;
$dark-blue: #3a92d7;


/********  mixin *********/

@mixin width(){
  width: 1210px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

@mixin grid3(){
    width: 30%;
    float: left;
    margin-right: 5%;
    position: relative;
    margin-bottom: 60px;
    box-sizing: border-box;
    @include res(m){
      width: 48%;
      margin-bottom: 20px;
      &.views-row-odd{
        margin-right: 4%!important;
        clear: both;
      }
      &.views-row-even{
        margin-right: 0!important;
      }
    }
    @include res(s){
      width: 100%;
      margin-right: 0!important
    }
  &:nth-child(3n){
    margin-right: 0;
  }
  &:nth-child(3n+1){
    clear: both;
    @include res(m){
      clear: none;
    }
  }
}

a, a:link, a:visited{
  text-decoration: none;
  outline: 0;
  color: $blue;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

body{
    font-family: 'Open Sans Hebrew', arial;  
    font-size: 14px;
    background-color: #fcfcfc;
}

.block {
    margin-bottom: 0em;
}

#page{
  width: 100%;
  max-width: 100%;
}

#content, #main{
  padding: 0;
}

.wrapper-width{
  @include width;
}

.phone a{
    pointer-events: none;
    cursor: default; 
    color: $default;
    @include res(s-m){
      pointer-events: auto;
      cursor: pointer;    
    }
}

#page-title{
  background-color: $blue;
  color: #fff;
  font-weight: normal;
  font-size: 3em;
  margin-bottom: 100px;
  @include res(s-m){
    margin-bottom: 20px;
    font-size: 2em;
  }
  .wrapper-width{
    padding: 30px 3%;
    @include res(s-m){
      padding: 0 3%;
    }
  }
  .image{
      background: url("../images/activity-title.png") no-repeat scroll left center transparent;
      position: absolute;
      width: 164px;
      height: 164px;
      padding: 0;
      top: -20px;
    @include res(s-m){
      display: none;
    }
  }
  .title{
    padding-left: 195px;
    @include res(s-m){
      padding: 0!important;
    }
  }
}
/**********  header  *********/

#block-locale-language{
  float: right;
  margin-top: 6px;
  @include res(l){
    margin-right: 10px;
    margin-top: -20px;
  }
  @include res(s-m){
    margin-top: -19px;
  }
  li{
    list-style-type: none;
    &.active{
      display: none;
    }
  }
  ul{
    padding: 0;
    margin: 0;
    a{
      color: $default;
      font-size: 1.2em;
      padding-left: 30px;
    }
  }
}

#header{
  @include width;
  padding: 56px 3% 40px;
  @include res(s-m){
    padding: 10px 3%;
  }
}

#block-search-form{
  float: right;
  position: relative;
  margin-top: 5px;
  @include res(s-m){
    display: none;
  }
  @include res(l){
    margin-top: -20px;
  }
  .in-field-labels-processed{
    left: 5px;
    top: -1px;
  }
  label{
    color: #808080;
    padding-left: 10px;
  }
  .form-text{
    height: 30px;
    border-radius: 10px;
    border: 1px solid #808080;
    width: 150px;
    padding-left: 10px;
  }
  .form-submit{
      background: url("../images/search-icon.png") no-repeat scroll center center transparent;
      border: medium none;
      height: 15px;
      right: 6px;
      top:7px;
      position: absolute;
      text-indent: -9999px;
      width: 19px;
  }
}

/**********  menu  *********/

#main-menu{
  display: inline-block;
  float: left;
  margin-top: 8px;
  margin-left: 6%;
  @include res(l){
    float: right;
    margin-top: -20px;
    margin-left: 0;
  }
  a{
    font-weight: bold;
    color: $default;
    padding: 0 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  a.active, a:hover{
    border-top: 6px solid $blue;
  }
  li{
    padding: 0 20px 0 0px !important;
  }
  li.last{
    padding: 0!important;
  }
}

.region-header{
  clear: none;
  @include res(l){
    clear: both;
  }
  @include res(s-m){
    clear: both;
  }
}
#navigation{
    height: auto;
    position: relative;
    padding: 0;
}

/*********** responsive menu  ****************/

body.menu-open #page{
  opacity: 0.7;
}

@include res(s-m){
  #logo{
    margin-top: 16px;
  }
  #navigation{
    right: -100%;
    position: fixed;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: 200;
    top: 86px;
    width: 100%;
  }
  #main-menu{
    margin: 0;
    width: 100%;
    background-color: #404040;
    opacity: 0.8;
    li{
      width: 100%;
      padding: 0px!important;
      height: 43px;
    }
    a{
      width: 100%;
      border:none;
      display: block;
      padding: 10px!important;
      box-sizing:border-box;
      text-align: center;
      opacity: 0;
      color: #fff;
    }
    .first a{
      opacity: 1;
    }
    a:hover, a.active{
      border: none;
    }
  }
  .menu-open #navigation{
    right: 0;
  }
}

.mobile-menu{
  float: right;
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  padding: 8px 0px 5px 5px;
  @include res(s-m){
    margin-top: 5px;
    display: block;
  }
  span{
    width: 30px;
    height: 4px;
    background-color: #000;
    margin-bottom: 5px;
    display: block;
  }
}

.icon-bar{
  transition: all 1s;
  -webkit-transition: all 1s;
}

.menu-open .mobile-menu{
  span{
    margin: 0;
  }
  .bar1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    margin-top: 12px;
  }
  .bar2{
    display: none;
  }
  .bar3{
    margin-top: -4px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}


/*********** front  ****************/

.front{
  #page-title{
    display: none;
  }
  #content .wrapper-width{
    width: 100%;
    padding: 0;
  }
  article{
    background-color: $blue;
    padding-bottom: 70px;
    @include res(s-m){
      padding-bottom: 15px;
    }
    .field-name-body{
      @include width;
    }
    h1, h2{
      margin: 0;
      text-align: center;
      color: #fff;
      font-size: 2.5em;
      @include res(s-m){
        line-height: 1.2em;
      }
    }
    h2{
      font-weight: normal;
    }
  }
  iframe{
    @include res(s-m){
      height: 200px !important;
    }
  }
}

#block-views-hp-gallery-block{
  background-color: $blue;
  overflow: hidden;
  padding-top: 75px;
  @include res(s-m){
    padding-top: 15px;
  }
  .view{
    @include width;
  }
  .views-row{
    @include grid3();
    box-sizing: border-box;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 50%;
    @include res(l){
      padding: 0;
    }
    @include res(s-m){
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
    @include res(s){
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
    &:hover{
        opacity: 0.6;
    }
  }
  .views-field-field-img{
    @include res(s-m){
      float: left;
      width: 30%;
    }
    a{
      border-radius: 50%;
      display: block;
    }
  }
  img{
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
  .views-field-title{
    position: absolute;
    top: 43%;
    color: rgba(255, 255, 255, 0.2);
    font-size: 1.714em;
    font-weight: bold;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
    left: 0;
    @include res(l){
      padding:  0 8px;
      font-size: 1.3em;
    }
    @include res(s-m){
      position: relative;
      float: right;
      width: 68%;
      font-size: 1.2em;
      padding: 0 0 0 2%;
    }
    a{
      text-shadow: 1px 2px 9.4px #000000;
      color: #fff;
    }
  }
}

#block-views-manufacturies-block{
  background-color: #fcfcfc;
  padding: 100px 0;
  overflow: hidden;
  @include res(s-m){
    padding: 15px 0;
  }
  .view, .block-title{
    @include width;
  }
  .block-title{
    font-size: 3em;
    text-align: center;
    background: url("../images/manufacturers.png") no-repeat scroll center top transparent;
    padding-top: 170px;
    padding-bottom: 50px;
    @include res(s-m){
      padding: 100px 0 15px;
    }
  }
  .views-row{
    @include grid3();
  }
  .views-field-field-logo{
    border: 1px solid rgba(58, 146, 215, 50);
    border-radius: 5px 5px 0 0;
    padding: 10px;
  }
  .views-field-title{
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 10px;
    padding-top: 10px;
    a{
      color: $default;
    }
  }
  .views-field-field-second-title{
    position: absolute;
    overflow: hidden;
    padding: 10px;
    background-color: rgba(239, 239, 239, 0.8);
    border-radius: 5px 5px 0 0;
    border: 1px solid #f2f2f2;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    @include res(l){
      line-height: 1.2em;
    }
    .field-content{
      overflow: hidden;
    }
    a{
      color: $default;
      .second-title{
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
  .views-row:hover .views-field-field-second-title{
    opacity: 1;
    @include res(s-m){
      opacity: 0;
    }
  }
}

#block-views-about-home-page-block{
  padding: 80px 0 150px;
  background-color: $blue;
  @include res(s-m){
    padding: 15px 0;
  }
  .view{
    @include width;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 375px;
  }
  .views-field-title{
    font-size: 3em;
    text-align: center;
    background: url("../images/about.png") no-repeat scroll center top transparent;
    padding-top: 130px;
    padding-bottom: 40px;
    @include res(s-m){
      padding: 100px 0 15px;
    }
  }
  .views-field-body{
    line-height: 1.3em;
  }
}

/**********  footer  ***********/
.wrapper-footer{
  background-color: #f3f5f5;
  padding: 180px 0;
  @include res(s-m){
    padding: 15px 0;
  }
  h2{
    font-size: 36px;
    @include res(s){
      font-size: 25px;
    }
  }
  #footer{
    @include width;
  }
}

#block-block-2{
    width: 48%;
    max-width: 415px;
    float: left;
    font-size: 1.5em;
    @include res(l){
      font-size: 1.2em;
    }
    @include res(s-m){
      width: 100%;
    }
    @include res(s){
      font-size: 1em;
      line-height: 1.1em;
    }
    a{
      color: $default;
    }
    .label{
      font-weight: bold;
      background: url("../images/contact-footer.png") no-repeat scroll left 1px transparent;
      float: left;
      margin-right: 5px;
      padding-left: 43px;
      height: 32px;
      clear: left;
      @include res(s){
        background-size: 25px;
        height: 24px;
      }
    }
    .address .label{
      float: none;
    }
    .address .content{
      padding-left: 43px;
      margin-top: -10px;
    }
    .phone .label{
      background-position: left -35px;
      @include res(s){
        background-position: left -27px;
      }
    }
    .fax{
      color: $default;
    }
    .fax .label{
      background-position: left -75px;
      @include res(s){
        background-position: left -56px;
      }
    }
    .email .label{
      background-position: left -112px;
      @include res(s){
        background-position: left -85px;
      }
    }
    .phone, .fax, .email{
      .label{
        margin-top: 10px;
      }
    }
    p{
      margin: 0;
    }
    .left-side{
      float: right;
      margin-top: 11px;
    }
}

#block-webform-client-block-38, , #block-webform-client-block-44, #webform-client-form-17, #webform-client-form-19{
    width: 48%;
    float: right;
    @include res(s-m){
      width: 100%;
      margin-top: 30px;
    }    
    h2{
      background: url("../images/plus.png") no-repeat scroll left 26px transparent;
      padding-left: 44px;
      @include res(s){
        background-position: left 13px;
      }
    }
    input.form-text{
      height: 45px;
      border: none;
      border-radius: 5px;
      padding: 0px 0 0 75px;
      background: url("../images/form-icons.png") no-repeat scroll left -1px #fff;
      font-size: 1.5em;
    }
    label{
      font-size: 1.5em;
      height: 35px;
      padding: 10px 0 0 75px;
    }
    #webform-component-phone{
      input{
        background-position: left -72px;
      }
    }
    #webform-component-email{
      input{
        background-position: left -142px;
      }
    }
    .form-submit{
      height: 50px;
      float: right;
      font-size: 1.714em;
      color: #fff;
      background-color: $dark-blue;
      border: none;
      padding: 10px 30px;
      border-radius: 5px;
    }
    .form-required{
      display: none;
    }
}

.wrapper-bottom{
    background-color: #d9dcdc;
    overflow: hidden;
    font-size: 1.5em;
    margin-top: -7px;
    @include res(l){
      font-size: 1.2em;
    }
    @include res(s-m){
      font-size: 1em;
      p{
        margin-bottom: 0;
      }
      .block{
        width: 100%;
        text-align: center;
        ul{
          text-align: center;
        }
      }
    }
    a{
      color: $default;
    }
    .region-bottom{
      @include width;
    }
    #block-block-1{
      float: left;
    }
    #block-system-main-menu{
      float: right;
      ul{
        padding: 0;
      }
      li{
        list-style-type: none;
        display: inline;
        a.active, a:hover{
          color: $dark-blue;
        }
      }
    }
}

/*********  activities  *********/

#block-views-hp-gallery-block-1{
  .views-row{
    @include grid3();
  }
  img{
    border:2px solid $blue;
  }
  .views-field-title{
    a{
      font-size: 1.5em;
      font-weight: bold;
      display: block;
      color: $default;
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #bfbfbf;
      margin-bottom: 14px;
      height: 48px;
    }
  }
  .views-field-field-subject{
    ul{
      padding: 0;
      margin-top: 10px;
      li{
        list-style-type: none;
        font-size: 1.2em;
        margin: 0 0 0.25em 1.5em;
         &:before{
          content: "";
          width: 10px;
          height: 10px;
          background-color: $blue;
          display: block;
          border-radius: 50%;
          margin-top: 6px;
          position: absolute;
          left: 5px;
        }       
      }
    }
  }
}


/***********  products page************/

#block-views-hp-gallery-block-2{
  width: 20%;
  float: left;
  font-size: 1.2em;
  @include res(s-m){
    display: none;
  }
  .block-title{
    color: $blue;
    background: url("../images/sort.png") no-repeat scroll left center transparent;
    height: 40px;
    padding: 24px 0px 0 50px;
    line-height: 1em;
    font-size: 1.1em;
    font-weight: normal;
  }
  .views-row{
    margin-bottom: 10px;
    a{
      color: $default;
      display: block;
      padding-top: 7px;
      padding-bottom: 8px;
      padding-left: 30px;
      position: relative;
      line-height: 17px;
      &:before{
        content: "";
        width: 10px;
        height: 10px;
        background-color: $blue;
        display: block;
        border-radius: 50%;
        margin-top: 4px;
        position: absolute;
        left: 5px;
      }
      &.active, &:hover{
        background-color: $blue;
        color: #fff;
        &:before{
          background-color: #fff;
          display: block;
        }
      }
    }
  }
  .view-content{
    margin-top: 20px;
  }
}

#block-views-products-block{
  float: right;
  width: 75%;
  margin-top: 12px;
    .views-row{
      @include grid3();
    }
  .views-field-field-product-image{
    a{
      position: relative;
      display: block;
    }
  }
  .views-field-field-product-image a:after{
      content:"";
      position:absolute;
      top:0; bottom:0; left:0; right:0;
      opacity:0.5;
      border:10px solid #fff;
      position: absolute;
  }
  .views-field-title{
    a{
      font-size: 1.5em;
      font-weight: bold;
      color: $default;
      width: 100%;
      padding: 15px 0 10px;
      text-align: center;
      border-bottom: 1px solid #bfbfbf;
      display: block;
      margin-bottom: 14px;
      height: 48px;
    }
  }
  .views-field-view-node{
    float: right;
    width: 50%;
    font-size: 0.8em;
    text-align: right;
    a{
      color: #808080;
      background: url("../images/arrow-right.png") no-repeat scroll left top transparent;
      padding-left: 32px;
      display: block;
      float: left;
    }
  }
  .views-field-field-links-manufacture{
    float: left;
    width: 50%;
    font-size: 0.8em;
    a{
      color: #808080;
      background: url("../images/arrow-left.png") no-repeat scroll right top transparent;
      display: block;
      padding-right: 32px;
      float: left;
    }
  }
}

/*******  product page  ******/

.node-type-product{
  .field-name-field-activity{
    display: none;
  }
  .field-name-field-product-image{
    float: right;
    margin-left: 44px;
    position: relative;
    img{
       margin-bottom: -7px;
    }
  }
  .field-name-field-product-image:after{
      content:"";
      position:absolute;
      top:0; bottom:0; left:0; right:0;
      opacity:0.5;
      border:10px solid #fff;
      position: absolute;
  }
  .field-name-field-pdf{
    float: right;
    img{
      display: none;
    }
    .file{
        background: url("../images/pdf.png") no-repeat scroll left center transparent;
        padding-left: 36px;
        height: 30px;
        display: block;
        a{
          color: $default;
          padding-top: 5px;
          display: block;
        }
    }
  }
  article{
    float: right;
    width: 75%;
    margin-top: 12px;
    p{
      margin-top: 0;
    }
  }
}

/********  manufacturies page ***********/

#block-views-manufacturies-block-1{
  .views-row{
    @include grid3();
  }
  .views-field-field-logo:after{
    border-bottom: 1px solid $blue;
    border-right: 1px solid $blue;
    border-left: 1px solid $blue;
    height: 10px;
    content: "";
    display: block;
    margin-top: -10px;
  }
  .views-field-field-logo{
    img{
      width: 90%;
      margin: 0 auto;
      display: block;
    }
  }
  .views-field-title{
      font-size: 1.4em;
      padding: 13px 0;
      font-weight: bold;
      display: block;
  }
  .views-field-field-second-title{
    font-size: 1.3em;
    margin-bottom: 13px;
  }
  .views-field-field-activities{
    margin-top: 13px;
    .views-label{
      font-size: 1.4em;
      font-weight: bold;
    }
    .item-list{
      ul{
        margin: 0;
        padding: 0;
        li{
          margin-left: 11px;
        }
      }
    }
  }
  .views-field-field-links-manufacture{
    width: 100%;
    border-top: 1px solid #bfbfbf;
    padding-top: 10px;
    margin-top: 5px;
    text-align: right;
    font-size: 1.4em;
    a{
      color: #808080;
      background: url("../images/arrow-right.png") no-repeat scroll left center transparent;
      padding-left: 32px;
    }
  }
}

/*********  contact  ********/

.node-type-webform{
  #main{
    margin-bottom: 30px;
  }
  textarea{
    border: none;
  }
  .grippie{
    display: none;
  }
  .wrapper-footer{
    display: none;
  }
  .wrapper-bottom{
    width: 100%;
  }
}

/******  about page  ********/

#block-views-mans-block{
  @include width();
  .block-title{
      font-size: 3em;
      text-align: center;
  }
  .views-row{
    width: 22%;
    float: left;
    margin-right: 4%;
    position: relative;
    margin-bottom: 60px;
    box-sizing: border-box;
    @include res(m){
      width: 48%;
      margin-bottom: 20px;
      &.views-row-odd{
        margin-right: 4%!important;
        clear: both;
      }
      &.views-row-even{
        margin-left: 0!important;
      }
    }
    @include res(s){
      width: 100%;
      margin-right: 0!important
    }
  &:nth-child(4n){
    margin-right: 0;
  }
  &:nth-child(4n+1){
    clear: both;
    @include res(m){
      clear: none;
    }
  }
  }
  .views-field-title{
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 10px;
  }
  .views-field-field-role{
    font-size: 1.1em;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}